*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/library_alipay/build
/library_websocketclient/build
/library_volley/build

/library_cropper/build
/library_pulltorefresh/build
/library_viewpagerindicator/build
